extends inc/layout.pug

block title 
    title Inheritance 
block content
    header
        h1 Inheritance
    section  
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas asperiores maiores in officiis neque adipisci, minus consequuntur sequi quis accusamus.